$headings-color: #c1440e;
$success-color: #6eda78;
$errors-color: #e62965;
$rover-color: invert(30%) sepia(35%) saturate(2871%) hue-rotate(353deg) brightness(100%) contrast(99%);
$shadow-color: #f0e7e7;
$input-outline-color: #776B5D;
$main-dark-background-color: #262626;
$light-color: #f0e7e7;
$sub-dark-background-color: #333;